* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}


a {
    text-decoration: none;
    color: var(--gray-800);
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    list-style: none;
}